<%if !flash[:notice].blank? %>
<%= flash[:notice] %>
<% end %>



this is list.html.erb <br />
<table>
<tr>
	<th></th>
	<th>City</th>
	<th>State</th>
	<th>ZIP</th>
</tr>



<% @address.each do |x| %>

<tr>
<td><%= x.id %></td>
<td><%= x.city %></td>
<td><%= x.state %></td>
<td><%= x.zip_code %></td>
<td><%= link_to("Show", {:action => 'show', :id => x.id}) %></td>
<td><%= link_to("Edit", {:action => 'edit', :id => x.id}) %></td>
<td><%= link_to("Delete", {:action => 'delete',:id => x.id}) %> </td>
<tr>
<% end %>

<%= link_to("Create a new Address record (new)",{:action => 'new'}) %>


</table>
